@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: "Radiel";
  src: url("/open-react-template/typefaces/Radeil-Regular-.ttf") format("ttf"),
}


@font-face {
  font-family: "quantify";
  src: url("/open-react-template/typefaces/Quantify.ttf") format("ttf"),
}

.brand-section{
    background-color: black;
}

.brand-text-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5em;
    gap: 30px;
}

.brand-text-container p{
  width: 75%;
  /* display: flex; */
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;

}

.brand-text-container h2{
  width: 75%;
  /* display: flex; */
  text-align: center;
  color: white;
  font-family: Radiel;
  font-size: 2.2em;
  /* font-weight: 500 */
}

.marquee-body {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    height: 40vh;
  }
  
  .marquee {

    background-color: #f7f7f7;
    display: flex;
    overflow-x: hidden;
    flex-wrap: nowrap;
    white-space: nowrap;
    min-width: 100%;
    height: 100px;
  }
  .marquee:hover .marquee-content {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
  .marquee:hover .marquee-logo {
    filter: grayscale(1) contrast(0) blur(1px);
  }
  
  .marquee-block {
    padding-left: 4em;
    height: 100%;
    width: 100%;
    display: flex;
    cursor: pointer;
  }
  .marquee-block:hover .marquee-logo {
    filter: unset;
  }
  
  .marquee-logo {
    filter: grayscale(1) contrast(0);
  }
  
  .marquee-content {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    -webkit-animation: slide-left 20s linear infinite;
            animation: slide-left 20s linear infinite;
  }
  @-webkit-keyframes slide-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  @keyframes slide-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }